
<html xmlns:th="http://www.thymeleaf.org">

<script th:src="@{/resources/admin/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/resources/admin/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/resources/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/admin/js/modernizr.min.js}"></script>
<script th:src="@{/resources/admin/js/pace.min.js}"></script>
<script th:src="@{/resources/admin/js/retina.min.js}"></script>
<script th:src="@{/resources/admin/js/jquery.cookies.js}"></script>

<script th:src="@{/resources/admin/js/flot/jquery.flot.min.js}"></script>
<script th:src="@{/resources/admin/js/flot/jquery.flot.resize.min.js}"></script>
<script th:src="@{/resources/admin/js/flot/jquery.flot.spline.min.js}"></script>
<script th:src="@{/resources/admin/js/jquery.sparkline.min.js}"></script>
<script th:src="@{/resources/admin/js/morris.min.js}"></script>
<script th:src="@{/resources/admin/js/raphael-2.1.0.min.js}"></script>
<script th:src="@{/resources/admin/js/bootstrap-wizard.min.js}"></script>
<script th:src="@{/resources/admin/js/select2.min.js}"></script>

<script th:src="@{/resources/admin/js/custom.js}"></script>
<script th:src="@{/resources/admin/js/dashboard.js}"></script>


</html>