<html xmlns:th="http://www.thymeleaf.org">

<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{/resources/admin/css/style.default.css}" rel="stylesheet">
<link th:href="@{/resources/admin/css/morris.css}" rel="stylesheet">
<link th:href="@{/resources/admin/css/select2.css}" rel="stylesheet" />

</html>